* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Poppins;
}

html {
    overflow-x: hidden;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #001005;
    --text-color: white;
    --main-color: #00ff51;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    margin-top: 100px;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.navbar {
    display: flex;
    
}