* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Poppins;
}

html {
    overflow-x: hidden;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #001005;
    --text-color: white;
    --main-color: #00ff51;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

/* header section */

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    padding: 40px 12%;
}

.navbar{
    display: flex;
    width: 27%;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.navbar a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: all 0.6s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a:hover::after {
    width: 100%;
}

.name-logo {
    display: inline-block;
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
}

span {
    color: var(--main-color);
}

.name-logo:hover {
    transform: scale(1.1);
}

#menu-icon {
    font-size: 56px;
    color: var(--main-color);
    display: none;
}

/* home section */

section {
    min-height: 100vh;
    padding: 12rem 12%;
}

.home-section {
    display: flex;
    align-items: center;
    gap: 170px;
    justify-content: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.text-content h1 {
    font-size: 65px;
}

.text-content h3 {
    font-size: 35px;
    margin-bottom: 8px;
}

.text-content p {
    line-height: 1.8;
}

.right-section img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.right-section img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.social-icons {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 12px;
}

.social-icons i {
    display: flex;
    border: 1px solid var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.2) translateY(-5px);
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.cta-btns {
    display: flex;
    gap: 20px;
}

.hire, 
.contact {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hire {
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.contact {
    color: var(--main-color);
    background-color: black;
    border: 2px solid var(--main-color);
}

.contact:hover {
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.05) translateY(-2px);
}

.hire:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.05) translateY(-2px);
}
/* about me section */

.about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.about-text-content h1 {
    font-size: 60px;
}

.about-text-content p {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 14px;
}